/* layout */
html {
    overflow-x:hidden;
    overflow-y:scroll;
}
body {
    background: DimGray url(/images/bg.png);
    background-attachment: fixed;
    background-position:center center;
    font: 12px Tahoma, Arial, Helvetica, sans-serif;
}

div {
    margin: 0 auto;
    display: block;
}
div#header {
    margin: auto;
}
div#wrapper {
    font-size: 16px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: WhiteSmoke;
    box-shadow: 2px 2px 5px white;
    -moz-box-shadow: 1px 1px 1px white;
    -webkit-box-shadow: 1px 1px 6px white;
    padding: 10px;
    line-height: 190%;
    margin: 0 auto;
    width: 700px;
    color: #111;
}
div#navigate {
    float:left;
    margin-left: 0px;
    width: 15%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 22px;
}
div#content {
    float: left;
    width: 85%;
}
div#article {
    width: 85%;
}
div#footer {
    margin: 0;
    margin-top: 2em;
    clear: both;
}

/* typography */
h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h4, h5, h6 {
/* font-size: medium; */
}

p {
    text-indent: 2em;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration:none;
}
a:hover, a:hover span#eighty, a:hover span#beans {
    color: black;
    background: lightgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px;

}
li a {
    padding: 0.2em;
}

pre code {
    margin: 0;
    padding: 16px;
    display: block;
    background-color: ivory;
    border: 1px dotted DarkGreen;
    border-radius: 3px;
    box-shadow: 2px 2px 5px DarkKhaki;
    -moz-box-shadow: 1px 1px 1px DarkKhaki;
    -webkit-box-shadow: 1px 1px 6px DarkKhaki;
    font-family: Arial;
    line-height: 150%;
}

blockquote {
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
    text-align: left;
    font-style: italic;
}
blockquote p {
    text-indent: 0em;
}
q, var, code, em, strong {
    margin: 0.2em;
    font-family: Arial;
}

code {
    font-family: Comic Sans MS;
}

kbd {
    padding-left: .25em;
    padding-right: .25em;
    font-family: sans-serif;
    border: solid 1px #C2C2C2;
    border-radius: 4px;
    background-color: #F0F0F0;
    box-shadow: 1px 1px silver;
}

var {
    font-family: Arial Black;
}


/* header */
#header {
    width: 740px;
}

#tags {
    float: right;
    margin: 20px 0;
    color: Gray;
    font-weight: bold;
    font-size: 14px;
}
#header a {
    font-weight: bold;
    font-size: xx-large;
    color: WhiteSmoke;
    letter-spacing: 0.1em;
}
#header a:hover {
    background: none;
}

/* navigate */
#navigate ul {
    padding: 0;
    text-align: right;
    margin: 2px 2px;
}

#navigate a:hover {
    background: lightgrey;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#category li a {
    color: #222;
    font-weight: normal;

}

/* content */
.post {
    padding: 0 1em;
    padding-left: 2em;
}

.post .date {
    float: right;
    color: Gray;
    font-size: 12px;
    margin: 0;
    letter-spacing: 0.1em;
}

/* article */
#post_date {
    float: right;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.1em;
}
#article h2 {
    font-size: x-large;
    text-align: center;
}
#article h3, h4 {
    background-color: lightgrey;
    font-size: 20px;
    font-weight: bold;
    padding: 0.2em;
}
#article h3:before {                    /* IE do NOT support it */
    content: "ℚ ";
}

#article ul {
    list-style: circle;
}

#article li p {
    text-indent: 0;
}

#article a {
    color: Green;
    padding: 0.2em;
}

#article #pagination {
    float: right;
    font-size: 12px;
}
#article #pagination a {
    color: #111;
}

#article q {                    /* format path */
    text-decoration: underline;
}
#article q:before, #article q:after {
    content: none;
}

/* footer */
#footer h6 {
    text-align: center;
    background: lightgray;
}

#footer .widget {
    float: right;
    margin: 0.2em 0.5em;
}

#footer .widget img {
    width: 20px;
    height: 20px;
}

#footer a {
    background: none;
}
